/* 
ZMK_COMBO(name,         bindings,           keypos,     layers, timeout,    prior_idle)
*/
ZMK_COMBO(caps_word,    &mt_caps CAPS   0,  LM1 RM1,    ALPHA,  50,         COMBO_PI)

ZMK_COMBO(x,            &mt LC(LALT)    X,  LM3 LM2,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(z,            &mt LS(LCTRL)   Z,  LM3 LM1,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(v,            &mt LS(RALT)    V,  LM2 LM1,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(k,            &mt RS(RALT)    K,  RM1 RM2,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(j,            &mt RS(RCTRL)   J,  RM1 RM3,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(q,            &mt RC(RALT)    Q,  RM2 RM3,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(f,            &kp F,              LB3 LB2,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(b,            &kp B,              LB3 LB1,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(u,            &kp U,              LB2 LB1,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(y,            &kp Y,              RB1 RB2,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(w,            &kp W,              RB1 RB3,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(m,            &kp M,              RB2 RB3,    ALPHA,  50,         COMBO_PI)
ZMK_COMBO(gaming_layer, &to GAMING,         LB4 RB4,    ALPHA,  50,         COMBO_PI)
