/* 
ZMK_COMBO(name,         bindings,   keypos,     layers, timeout,    prior_idle)
*/
ZMK_COMBO(lt,           &mt LC(LALT) LT,    LM3 LM2,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(mod2_ls_lc,   &kp LS(LCTRL),      LM3 LM1,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(gt,           &mt LS(LALT) GT,    LM2 LM1,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(lcb,          &mt RS(RALT) LBRC,  RM1 RM2,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(mod2_rs_rc,   &kp RS(RCTRL),      RM1 RM3,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(rcb,          &mt RC(RALT) RBRC,  RM2 RM3,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(lab,          &kp LBKT,           LB3 LB2,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(rab,          &kp RBKT,           LB2 LB1,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(lp,           &kp LPAR,           RB1 RB2,    SYMBOL, 50,         COMBO_PI)
ZMK_COMBO(rp,           &kp RPAR,           RB2 RB3,    SYMBOL, 50,         COMBO_PI)
