/* 
ZMK_COMBO(name,         bindings,   keypos,     layers, timeout,    prior_idle, extra)
*/
ZMK_COMBO(lt,           &kp LT,     LM3 LM2,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(gt,           &kp GT,     LM2 LM1,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(lcb,          &kp LBRC,   RM1 RM2,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(rcb,          &kp RBRC,   RM2 RM3,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(lab,          &kp LBKT,   LB3 LB2,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(rab,          &kp RBKT,   LB2 LB1,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(lp,           &kp LPAR,   RB1 RB2,    SYMBOL, 50,         RPI_SHORT)
ZMK_COMBO(rp,           &kp RPAR,   RB2 RB3,    SYMBOL, 50,         RPI_SHORT)
